body,
html {
  margin: 0;
  padding: 0;
}
header figure {
  margin: 0px;
}

header h1,
header h2 {
  margin: 0;
  width: 100%;
  background: grey;
  float: left;
  color: red;
}
header figure {
  float: left;
}
header {
  float: left;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  background: grey;
  margin: 0px;
}
header hgroup {
  float: left;
  margin: 1em;
}
#about h3 {
  margin: 0px;
}
header h2 {
  line-height: 2em;
}
/*********************/
section:not(#contact) {
  float: left;
  width: 50%;
  height: 500px;
  padding: 1em;
  box-sizing: border-box;
}
#about h3 {
  padding: 0.5em;
}
section > h3 {
  border-bottom: 1px solid grey;
  decoration: bold;
}
h3::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: red;
  margin-right: 5px;
  border-radius: 50%;
}

/*********************/
#contact {
  position: absolute;
  top: 10px;
  right: 10px;
  background: black;
  max-height: 125px;
}

#contact h3 {
  display: none;
}

.contact {
  margin: 0;
}

.contact-type,
.contact-value {
  display: inline-block;
  margin: 0;
  padding: 3px;
}

.contact-type {
  width: 120px;
  background: red;
  color: white;
}

.contact-value a {
  text-decoration: none;
  color: red;
}
.contact-value {
  width: 400px;
}
dd.contact-value {
  color: red;
}
/*********************/

.skill {
  background-color: grey;
  width: 100%;
}
.skill span {
  margin-bottom: 0.2em;
  color: white;
}
.skill[data-skill="5"] span {
  width: 50%;
  display: block;
  background-color: red;
}
.skill[data-skill="3"] span {
  width: 30%;
  display: block;
  background-color: red;
}
.skill[data-skill="1"] span {
  width: 10%;
  display: block;
  background-color: red;
  margin-bottom: 1em;
}
.skill[data-skill="9"] span {
  width: 90%;
  display: block;
  background-color: red;
}
.skill[data-skill="7"] span {
  width: 70%;
  display: block;
  background-color: red;
}

.skills-primary::before {
  content: "Main";
}
.skills-secondary::before {
  content: "Other";
}
/*********************/
.experience-type {
  color: red;
  text-decoration-style: bold;
}
.experience-institution {
  color: red;
  font-weight: normal;
}
.experience-institution ::before {
  content: "@";
  margin-right: 5px;
}
.experience-date-separator {
  color: red;
}
.day,
.month,
.year,
.experience-location {
  color: gray;
  font-size: smaller;
}
#experiences h4 {
  margin: 0;
}
#education h4 {
  margin: 0;
}
/*********************/
@media only screen and (max-width: 960px) {
  section {
    width: 100%;
  }
}

